@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Yusei+Magic&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');

.container{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}
header, h1{
  text-align: center;
  font-size: 2em;
}
.person-item-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  width: 50rem;
}
.btn-rubrica {
  height: fit-content;
  margin-inline: 2px;
}

body {
  font-family: "Roboto", sans-serif;
  background: #cddde5;
  font-size: 12px;
}

#text-input-field,
#name-input-field,
#surname-input-field {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  width: 80px;
  border: none;
  border-bottom: 1px solid #bdbdbd;
}
section {
  text-align: center;
  padding: 2%;
  background-color: white;
  border-radius: 0em;
  margin: auto;
  box-shadow: 1px 8px 13px #7e7e7e6e;
  
}


#person-name,
#person-surname,
#person-id {
  margin-inline: 4px;
  margin-inline-start: 0;
  margin-top: 1px;
  font-weight: bolder;

  font-size: 1.4em;
}

#person-surname {
  width: max-content;
}

.input-group {
  margin-bottom: 5%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

#add-button {
  border: 0px solid transparent;
}

button {
  width: fit-content;
  height: fit-content;
  border: 0px solid transparent;
  background-color: white;
}

.person-info {
  font-weight: bolder;
  font-variant: small-caps;
}

p{
  font-size: 2em;
  font-family: 'Mulish', sans-serif;
}


.grade-container{
  width: 300px;
  border-radius: 1em;
  box-shadow: 2px 5px 2px #00000036;
  font-size: 12px;
}
